header {
    padding-top: 40px;
}

article {
    margin-bottom: 30px;
}

.post-info {
    padding-bottom: 20px;
}

time.index-date {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2;

    font-family: "PT Serif", Georgia, serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: none;

    color: #c6c2be;
    text-shadow: 1px 1px 1px #ffffff;
}

time.index-date:not(:first-child){
    margin-top: 50px;
}

time.modified {
    padding-left: 20px;
}

p, li {
    font-size: 16px;
    color: #4a4234; text-shadow: 1px 1px 1px #ffffff;
    line-height: 1.5;
}

blockquote, blockquote p, blockquote cite {
    line-height: 1.5;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
}

h2 {
    font-size: 46px;
    line-height: 1.2;
}

h3 {
    font-size: 34px;
    line-height: 1.2;
}

h4 {
    font-size: 22px;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
    line-height: 1.2;
}

h6 {
    font-size: 12px;
    line-height: 1.2;
}

code {
    font-family: Consolas, Monaco, Inconsolata, monospace;
    font-size: inherit;
    background-color: #FFFDFA;
    color: #000;
    text-shadow: none;
    padding: 2px 5px 2px 5px;
}


#logo h1, #logoDetailView h1 {
    font-size: 48px;
}

.container .rightpad-by-one {
    padding-left: 60px;
}

.container .rightpad-by-two {
    padding-left: 120px;
}

.article-translations {
    float: right;
    padding: 10px;
}

.highlight, pre code {
    font-size: 14px;
    color: #444;
    display: block;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    font-family: Consolas, Monaco, Inconsolata, monospace;
    border-radius: 6px;
    background-color: #FFFDFA;
    box-shadow: 0px 2px 5px #c6c2be;
    overflow: scroll;
}

article p img {
    border-radius: 6px;
    background-color: #FFFDFA;
    box-shadow: 0px 2px 5px #c6c2be;
}

